<!DOCTYPE html>
<meta charset="utf-8">
<style>

svg {
  float: left;
  border-bottom: solid 1px #ccc;
  border-right: solid 1px #ccc;
  margin-right: auto;
  margin-bottom: -1px;
}

rect {
  fill-opacity: 0.2;
  stroke: black;
  stroke-width: 1px;
}

</style>
<body>
  <input type="file" id="file-upload"/>
  <input type="checkbox" id="file-edit">(2) Edit</input>
  <button id="file-download">(3) Download</button>
  <div id="defsId"></div>
</body>
<script src = "https://d3js.org/d3.v4.min.js"></script>
<script>


// (1) Upload File
function readSingleFile(e) {
  var file = e.target.files[0];
  if (!file) {
    return;
  }
  var reader = new FileReader();
  reader.onload = function(e) {
    var contents = e.target.result;
    displayContents(file, contents);
  };
  reader.readAsText(file);
}

function displayContents(file, contents) {

  var svg = d3.select('svg')
  var myimage = svg.append('image')
    .attr('xlink:href', file.name)
    .attr('width', "100%")
    .attr('height', "100%")
}

document.getElementById('file-upload')
  .addEventListener('change', readSingleFile, false);

// (2) Edit File
var edit = false;
function editable() {
  edit = !edit;
}

document.getElementById('file-edit')
  .addEventListener('click', editable);

var width = 800,
    height = 600;

var svg = d3.select("body").append("svg")
    .attr("width", width)
    .attr("height", height)
    .attr("id", 'svg')
    .on("mousedown", mousedown)
    .on("mouseup", mouseup);

function mousedown() {
    var m = d3.mouse(this);

    if (edit) {
      rect = svg.append("rect")
          .attr("x", m[0])
          .attr("y", m[1])
          .attr("height", 0)
          .attr("width", 0)
          .raise();

      svg.on("mousemove", mousemove);
    }
}

function mousemove(d) {
    var m = d3.mouse(this);

    rect.attr("width", Math.max(0, m[0] - +rect.attr("x")))
        .attr("height", Math.max(0, m[1] - +rect.attr("y")));
}

function mouseup() {
    svg.on("mousemove", null);
}


// (3) Download File

function saveSvg() {
    SVGel = document.getElementById("svg");
    SVGel.setAttribute("xmlns", "http://www.w3.org/2000/svg");
    var svgData = SVGel.outerHTML;
    var preface = '<?xml version="1.0" standalone="no"?>\r\n';
    var svgBlob = new Blob([preface, svgData], {type:"image/svg+xml;charset=utf-8"});
    var svgUrl = URL.createObjectURL(svgBlob);
    var downloadLink = document.createElement("a");
    downloadLink.href = svgUrl;
    downloadLink.download = 'template';
    document.body.appendChild(downloadLink);
    downloadLink.click();
    document.body.removeChild(downloadLink);
}

document.getElementById('file-download')
  .addEventListener('click', saveSvg);


</script>
