<!doctype html>

<head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/input.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/45c5b12d62.js"></script>
    <script src="/static/js/jquery-3.4.1.min.js"></script>
</head>

<body>
    <nav class="side-bar-nav">
        <div class="logo-nav-block">
            <p>Mae Tao </br>Clinic</p>
        </div>
        <a href="{{ url_for('home') }}">
            <div class="item-logo-block nav-block-highlighted">
                <img src="/static/image/record-upload.png">
                <p>Scan Record</p>
            </div>
        </a>
        <div class="item-logo-block">
            <img src="/static/image/search.png">
            <p>Search</p>
        </div>
        <div class="profile-logo-block">
            <img src="/static/image/login.png" />
            <p>Profile</p>
        </div>
    </nav>
    <!-- <div class="header-nav">
	    <div class="header-nav-wrapper">
	       <span id="logo">Mae Tao Clinic</span>
         <a id="home" href="{{ url_for('home') }}">← back to home </a>
	    </div>
	</div> -->
    <div class="console">
        <div class="progress-bar-box" id="main-content">
            <div class="progress-bar-wrapper">
                <a href="">
                    <div class="back-button">←</div>
                </a>
                <div class="progress-bar"></div>
            </div>
        </div>
        <div class="console-wrapper">
            <div class="nav">
                <p class="caption">{{ form_name }}</p>
                <h1 id="nav-title">Scan Record</h1>
            </div>
            <!--      <h1> {{ value }} </h1> -->
          <!--   <div id="upload">
                <div class="upload-group">
                    <div id="upload-response"></div>
                    
                </div>
                <form id="upload-file" method="post" float="left" enctype="multipart/form-data" class="upload-box">
                    <label id="upload-file-instruction" for="file"><span id="click-upload">Select a file</span> or drag and drop directly.</label>
                    <input name="file" type="file" style="display: none" id="file">
                    <img id="file-thumbnail" style="display: none" src="#" />
                </form>
                <div id="videoFeed" float="left" padding="10px">
                    <div class="select">
                        <label for="videoSource" display="block" padding-left="10px"> Video source: </label><select id="videoSource"></select>
                    </div>
                    <video width="480" height="640" muted autoplay></video>
                </div>
                <div id="upload-response"></div>
            </div> -->

            <div class="basic-form" id="upload">
                
                    <div class="page-queue">
                        <p>Page</p>
                        <form id="upload-file" method="post" float="left" enctype="multipart/form-data" >
                            <div class="page-box page-box-new">
                                <div class="page-ph-add">
                                    <!-- <img src="/static/image/add.png"> -->
                                    <img id="file-thumbnail" src="/static/image/add.png" />
                                </div>
                                <div class="page-details-add">
                                    <p>Page 1</p>
                                    
                                    
                                    <label id="upload-file-instruction" for="file" class="caption"><span id="click-upload">Select a file</span> or drag and drop directly.</label>
                                    <input name="file" type="file" style="display: none" id="file">
                                </div>
                            </div>
                        </form>
                        
                        
                        <div class="upload-button">
	                        <button id="upload-file-btn" type="button" class="highlighted disabled">Process records</button>
	                    </div>
                    </div><div class="camera-feed" id="videoFeed">
                    	<div class="select camera-select-box">
	                        <label for="videoSource" display="block" padding-left="10px"> Video source: </label><select id="videoSource"></select>
	                    </div>
                    <video width="480" height="640" muted autoplay></video>
                    </div>
                    
              
            </div>
            <div id="update">
                <!-- <h3>Review Annotated Record</h3> -->
            </div>
        </div>
    </div>
    <div id="save">
        <div id="save-bar-wrapper">
            <form method=post enctype=multipart/form-data id="save-button-form">
                <button id="save-file-btn" class="disabled" type="button">Save</button>
            </form>
            <div id="save-response"></div>
        </div>
    </div>
</body>
<script>
var json_path = "{{ json_path }}"
</script>
<script src="/static/js/d3.min.js"></script>
<script type="text/javascript" src="/static/js/video-stream.js"></script>
<script type="text/javascript" src="/static/js/tool.js"></script>
<script>
requestLiveFeedResponse();
</script>