<doctype html>
<head>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="static/js/upload_template.js"> </script>
</head>

<!--
This is just barebones to simulate sending requests back and forth from the
client until the frontend is more polished
-->

<body>
		<p>
		Upload Template
		</p>
		<div class="container">
					<h2 class="form-signin-heading">Upload Template </h2>
					<input type="email" name="username" class="form-control" placeholder="Email address" required autofocus>
					<input type="password" name="password" class="form-control" placeholder="Password" required>
					<button class="btn btn-lg btn-primary btn-block" type="button">send request </button>
		</div>
</body>
