<!doctype html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css"> 
	<link rel="stylesheet" type="text/css" href="/static/css/input.css"> 
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">
</head>
<body>
	<div class="header-nav">
	    <div class="header-nav-wrapper">
	       <span id="logo">Digitiz</span>
	       <span id="restart" onClick="window.location.reload();">← restart</span>
	    </div>
	</div>

	<div class="main" id="main-content">
		<div class="nav">
			
			<span>{{ form_name }} / New Entry</span>
			<h1 id="nav-title">Review the result</h1>
		</div>



		<h1> {{ value }} </h1>
		<div id="upload">
			<div class="upload-group">
				<h3>1. Upload Record</h3>
				<div id="upload-response"></div>
				<button id="upload-file-btn" type="button" class="highlighted">Upload</button>

			</div>
			

			<form id="upload-file" method="post" enctype="multipart/form-data" class="upload-box" >

				<label id="upload-file-instruction" for="file"><span id="click-upload">Select a file</span> or drag and drop directly.</label>
				<input name="file" type="file" style="display: none" id="file">
				
			</form>
			<div id="upload-response"></div>
			
			
		</div>

 		





		<div id="update">
			<h3>2. Update Annotated Record</h3>
		</div>
		<div id="save">
			<h3>3. Save Record</h3>
			<form method=post enctype=multipart/form-data>
				<button id="save-file-btn" type="button">Save</button>
			</form>
			<div id="save-response"></div>
		</div>
	</div>


</body>

<script> 
	var json_path = "{{ json_path }}"
</script>
<!-- <script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script> -->
<script src="/static/js/d3.min.js"></script>
<script src="/static/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/static/js/tool.js"></script>

