

.responses{
	float: right;
}

.responses label{
	padding-right: 1em;
}


/*Text box*/

input[type=text] {
  width: 100%;
  margin:0.6em 0;
  padding: 0.8em 0.8em;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}

input[type=text]::placeholder {

  color: gray;
}

/*Radio button*/

input[type=radio] {
  margin-right: 1em;
}

/*Download Button*/
button#file-download{
	padding: 1em 2em;
	background-color: white;
	border-radius: 3px;
	float: right;
	font-size: 16px;
}

button.highlighted{
  padding: 0.8em 3em;
  border: transparent;
  color: white;
  background-color: #389BFF;
  border-radius: 3px;
  font-size: 12px;
}

button.disabled{
  padding: 0.8em 3em;
  border: transparent;
  color: white;
  background-color: #CBCBCB;
  border-radius: 3px;
  font-size: 12px;
}


.select-form-button{

}


/*Image upload*/
#upload-response{
display: inline-block;

}


#upload-response h3{
  
    font-size: 16px;
    color: red;
    font-weight: 400;

}

.upload-box{

  text-align: center;
  border: 1px dashed #979797;
  background-color: #F9F9F9;
  padding: 8% 5%;
}

form{
   text-align: left;
   vertical-align: middle;
 

}

label#upload-file-instruction{
      vertical-align: middle;
      font-size:0.8em;

}

    label #click-upload{
     
      cursor: pointer;
      color: #389BFF;

    }