


	form.update {
		display: inline-block;
		max-height: 80vh;
		overflow: auto;
	}
	svg.update {
		display: inline-block;
		border: 2px solid black;
		cursor: move;
		vertical-align: top;
	}
	rect {
		fill-opacity: 0.5;
		fill: transparent;
		stroke: transparent;
		stroke-width: 1px;
		fill: black;
	}
	rect.boundingBox{fill-opacity: 0.0;
									 stroke-width:0.5;
									 stroke:black;}
	rect.true { fill: green; }
	rect.false { fill: red; }
	rect.checked { fill: green; }
	rect.empty { fill: red; }
	rect.unknown { fill: orange; }
	rect.filled {
		fill-opacity: 0.25;
		fill: transparent;
		stroke: green;
	}
	div.responses {
		display: inline-block;
	}
	div.unresolved {
		color: red;
	}







/*JINGRU*/
body{
	background-color: #F8F8F8;
}

.select-form-button{
	width: 12vw;
	height: 6vw;
	background-color: white;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.1);

	border-radius: 10px;
	display: inline-block;
	vertical-align: middle;
	padding: 2em;
	margin-right: 1em;
	cursor: pointer;
	transition: 0.3s;

	font-weight: 600;
	font-size: 24px;
	color: #4A4A4A;
}

.select-form-button:hover{
	box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}


#home{
	cursor: pointer;
	color: gray;
	opacity: 100;
	position: absolute;
	left: 15%;
}



html{
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	margin: 0;
}

body{
	margin:0;
}

.main{
	/*width: 70%;*/
	margin: 0 auto;
}




form.update{
	margin: 0 1em 6em 0;
	/*width: 35vw;*/
	width: 35%;
	border: 1px solid #D9D9D9;
}



fieldset.question_group {
  display: block;
  margin:0;
  padding: 0 1em;
  border:none;
  border-bottom: 1px solid #D9D9D9;
}

fieldset.question_group:last-child {

  border-bottom: none;
}

.question_group_title{
	padding: 1em 0;
	font-weight: 600;
	cursor: pointer;
}



.question{
	padding: 0 0.8em;
	border-top: 1px solid #D8D8D8;
	display: block;
	overflow: auto;
}

.question:first-child{
	border-top: 1px solid #9B9B9B;
}



.question label {
	padding: 0.8em 0;
	/*vertical-align: middle;*/
	display: inline-block;
	font-size:14px;
}

#save-file-btn{
	margin-top:2em;
}

#save-bar{
	display: none;
	position: fixed;
	bottom: 0;
	width: 100%;
	border-top:1px solid rgba(0,0,0,0.4);
	background-color:white;
	width: 100%;
	padding: 1em 0;

}



#save-bar-wrapper{
	width: 70%;
	margin: 0 auto;

}

#save{
	display: none;
	margin-top:2em;
	padding-bottom:1em;

	width: 100%;
	background-color: white;
	border-top:1px solid #D9D9D9;

	position: fixed;
	bottom: 0;
}




/*Header*/
#logo{
	font-weight: 600;
}

.header-nav{
	margin-top:2em;
}

.header-nav-wrapper{
	width: 90%;
	margin: 0 auto;
}

.nav{
	margin: 2em 0;
}

.nav h1{
	margin-top:0;
}

.nav .caption{
	margin-bottom:0;

	font-size: 20px;
    font-weight: 600;
    color: #9B9B9B;
}


/*font*/

a {
	text-decoration: none;
	color: black;
}

#update{
	display: none;
	width: 100%;
}

.upload-group{
	float:left;
	display: inline-block;
	width: 100%;
	margin-bottom:0.5em;

}

.upload-button{
	float:left;
}

.upload-group p{
	display: inline-block;
	margin:0 auto;
}

/* .live-feed
{
	float:left;
	padding:0px 20px;
} */

.upload-group button{
	display: inline-block;
	float: right;
}

#save-button-form, #save-response, #save-response p{
	display: inline-block;
	margin-right: 1em;
}

i {
	cursor: pointer;
	padding: 0px 5px;
}


/*NAV*/

nav.side-bar-nav{
	display: block;
	width: 100px;
	min-width: 100px;
	height: 100%;
	background-color: #005450;
	color: white;

	position: fixed;
	top:0;
}

nav.side-bar-nav a{
	color: white;
}

.logo-nav-block, .item-logo-block,.profile-logo-block{

	text-align: center;
	font-weight: 600;
}

.logo-nav-block{
	padding-bottom:5vh;
	font-weight: 700;
}

.item-logo-block img, .profile-logo-block img{
	width: 2em;
	height: 2em;
}

.logo-nav-block p{	
	margin:0;
	vertical-align: middle;
	padding: 3vh 0;
}

.item-logo-block{
	font-size: 12px;
	padding:2.5vh 0;
}

.item-logo-block p, .profile-logo-block p{
	margin: 0 auto;
}

.item-logo-block:hover{
	background-color: #458481;
	border-right: 1px solid white;
}

.profile-logo-block{
	font-size: 12px;
	position: absolute;
	padding: 0 0 3vw 32.5px;
	bottom:0;
}


.nav-block-highlighted{

	border-right: 4px solid white;
}

/*Progress Bar*/

.progress-bar-box{
	width: 100%;
	height: 6vh;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.progress-bar-wrapper{
	padding-left: 50px;
	margin:0 auto;
	height: 100%;
}

.back-button{
	border:1px solid rgba(0,0,0,0.2);
	border-radius: 4px;
	height: 30px;
	margin-top: 1vh;

	padding: 0 1em;
    display: inline-block;
    line-height: 1.8;
}

.progress-bar{

}


/*Console*/
.console{
	margin-left: 100px;
}

.console-wrapper{
	padding-left: 50px;
}


/*Camera feed*/
.page-queue{
	display: inline-block;
	vertical-align: top;
	width: 35%;
	height: 60vh;
	margin-right: 5%;
}

.page-queue p{
	margin-top:0;
}

.camera-feed{
	display: inline-block;
	vertical-align: top;
	width: 60%;
	height: 60vh;
	background-color: #d8d8d8;
}

.camera-select-box{
	background-color: white;
    display: -webkit-inline-box;
    padding: 0.5em;
    font-size: 12px;
    margin: 1em;
    border-radius: 2px;
}

.page-box{
	width: 100%;
	height: 80px;
	margin-bottom:1em;
	
}

.page-box-new{
	border:2px solid #EDEDED;
	border-style: dashed;
	background-color: #FAFAFA;
	border-radius: 8px;
	margin-bottom:1em;
}

.page-ph{
	display: inline-block;
	vertical-align: top;
	width: 60px;
	height: 80px;
	border-radius: 10px;
	background-color: rgba(0,0,0,0.6);
}

.page-ph-add{
	display: inline-block;
	vertical-align: top;
	width: 60px;
	height: 80px;
	border-radius: 10px;	
	background-color: #FAFAFA;
}

.page-ph-add img{
	width: 100%;

	margin: 0 auto;
	display: block;
	vertical-align: middle;
	border-radius: 10px;

}

.page-details{
	display: inline-block;
	width: 150px;
	vertical-align: top;
	margin-left: 0.5em;
}

.page-details p{
	font-size: 12px;
	margin:0 auto;
}

.page-details-add{
	display: inline-block;
	width: 150px;
	vertical-align: middle;
	margin-left: 0.5em;
	padding-top: 0.8em;
	cursor: pointer;
}

.page-details-add p {
	opacity: 0.4;
	font-size: 12px;
	vertical-align: middle;
	
	margin:0 auto;
}

.caption{
	font-weight: 400;
	padding-top: 0.5em;
}




#submit-camera{
	width: 100%;
	background-color: #005450;
	color: white;
	padding: 10px 20px;
	border: none;
  	border-radius: 4px;
  	cursor: pointer;
  	margin-top:2em;
  	font-family: Open sans, sans-serif;
  	font-weight: 600;
  	vertical-align: bottom;
}


/*Basic info entry*/
.basic-form{


	width: 720px;

	background-color: white;
	
	padding: 2em;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 10px;

    box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
}

.basic-form form{
	font-size: 14px;
	font-weight: 600;

}

.basic-form p{
	margin-top:0;
}