


	form.update {
		display: inline-block;
		max-height: 80vh;
		overflow: auto;
	}
	svg.update {
		display: inline-block;
		border: 2px solid black;
		cursor: move;
		vertical-align: top;
	}
	rect {
		fill-opacity: 0.5;
		fill: transparent;
		stroke: transparent;
		stroke-width: 1px;
		fill: black;
	}
	rect.boundingBox{fill-opacity: 0.0;
									 stroke-width:0.5;
									 stroke:black;}
	rect.true { fill: green; }
	rect.false { fill: red; }
	rect.checked { fill: green; }
  rect.empty { fill: red; }
  rect.unknown { fill: orange; }
	div.responses {
		display: inline-block;
	}
	div.unresolved {
		color: red;
	}







/*JINGRU*/

.select-form-button{
	width: 10vw;
	height: 10vw;
	border: 1px solid rgba(0,0,0,0.6);
	border-radius: 3px;
	display: inline-block;
	vertical-align: middle;
	padding: 2em;
	margin-right: 1em;
	cursor: pointer;
	transition: 0.3s;
}

.select-form-button:hover{
	box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}



#restart{
	cursor: pointer;
	color: gray;
	opacity: 100;
	position: absolute;
	left: 15%;
}

#home{
	cursor: pointer;
	color: gray;
	opacity: 100;
	position: absolute;
	left: 22%;
}

html{
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	margin: 0;
}

body{
	margin:0;
}

.main{
	width: 70%;
	margin: 8em auto 0 auto;
}


form.update{
	margin: 0 1em 6em 0;
	width: 35vw;
	border: 1px solid #D9D9D9;
}



fieldset.question_group {
  display: block;
  margin:0;
  padding: 0 1em;
  border:none;
  border-bottom: 1px solid #D9D9D9;
}

fieldset.question_group:last-child {

  border-bottom: none;
}

.question_group_title{
	padding: 1em 0;
	font-weight: 600;
	cursor: pointer;
}



.question{
	padding: 0 0.8em;
	border-top: 1px solid #D8D8D8;
	display: block;
	overflow: auto;
}

.question:first-child{
	border-top: 1px solid #9B9B9B;
}



.question label {
	padding: 0.8em 0;
	/*vertical-align: middle;*/
	display: inline-block;
	font-size:14px;
}

#save-file-btn{
	margin-top:2em;
}

#save-bar{
	display: none;
	position: fixed;
	bottom: 0;
	width: 100%;
	border-top:1px solid rgba(0,0,0,0.4);
	background-color:white;
	width: 100%;
	padding: 1em 0;

}



#save-bar-wrapper{
	width: 70%;
	margin: 0 auto;

}

#save{
	display: none;
	margin-top:2em;
	padding-bottom:1em;

	width: 100%;
	background-color: white;
	border-top:1px solid #D9D9D9;

	position: fixed;
	bottom: 0;
}




/*Header*/
#logo{
	font-weight: 600;
}

.header-nav{
	margin-top:2em;
}

.header-nav-wrapper{
	width: 90%;
	margin: 0 auto;
}

.nav{
	margin: 1em 0 4em 0;
}

.nav h1{
	margin-top:0;
}

.nav .caption{
	margin-bottom:0;
}


/*font*/

a {
	text-decoration: none;
	color: black;
}

#update{
	display: none;
}

.upload-group{
	display: inline-block;
	width: 100%;

}

.upload-group p{
	display: inline-block;
	margin:0 auto;

}

.upload-group button{
	display: inline-block;
	float: right;
}

#save-button-form, #save-response, #save-response p{
	display: inline-block;
	margin-right: 1em;
}
